<div class="container mx-auto">
    <div class="flex justify-end">
      <%= link_to "Account", account_path(@user_object.id) %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete} %>
    </div>
      <div class="min-w-full border rounded lg:grid lg:grid-cols-3">
        <div class="border-r border-gray-300 lg:col-span-1">
          <div class="mx-3 my-3">
            <div class="relative text-gray-600">
              
              
              <%= render partial: "rooms/form", locals: {room: Room.new} %>

            </div>
          </div>

          <ul class="overflow-auto h-[32rem]">
            <h2 class="my-2 mb-2 ml-2 text-lg text-gray-600">Chats</h2>
            <li data-chat-list='Room List'>
              <%= render @rooms %>
            </li>
          </ul>
        </div>
    </div>
</div>